<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/sample1.css">
    <script src="https://kit.fontawesome.com/9e7b8f28a1.js" crossorigin="anonymous"></script>
    <title>Wanderlust (about us)</title>
</head>

<body>
    <header class="about-header">
        <nav class="about-navbar">
            <div class="container">
                <h2 class="logo text-white">PSW</h2>
                <ul class="nav-items">
                    <li class="nav-item"><a href="./index.html">Home</a></li>
                    <li class="nav-item"><a href="./s1_about.html">About</a></li>
                    <li class="nav-item"><a href="./s1_contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="about">
        <div class="container2">
            <h2 class="lg-heading about-underline">About Us</h2>
            <p class="text-grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor illum magnam veniam qui sequi minus sunt laboriosam asperiores explicabo delectus?</p>
            <div class="about-wrapper">
                <div class="left">
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit.</li>
                    </ul>
                </div>
                <div class="prices">
                    <div class="price-item-1">
                        <span>2500</span>
                        <p>Travelled</p>
                    </div>
                    <div class="price-item-2">
                        <span>500</span>
                        <p>Places</p>
                    </div>
                    <div class="price-item-3">
                        <span>1000</span>
                        <p>Guide</p>
                    </div>
                    <div class="price-item-4">
                        <span>800</span>
                        <p>Spots</p>
                    </div>
                </div>
            </div>

            <div class="contact-banner text-white">
                <p class="cb-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, ipsum?</p>
                <h3 class="md-heading cb-right"><a href="./s1_contact.html">Contact Us</a></li></h3>
            </div>

        </div>
       
    </section>
    

    <footer class="footers">
        <div class="social-media-links">
            <i class="fab fa-facebook fa-3x"></i>
            <i class="fab fa-instagram fa-3x"></i>
            <i class="fab fa-twitter fa-3x"></i>
        </div>
        <p>World Travel &copy; 2020. All Rights Reserved</p>
    </footer>
    
</body>

</html>